* {
  font-family: 'Comfortaa', cursive;
}

.sidenav {

 display: flex;
 justify-content: center;
 height: 100%;
 width: 350px;
 position: fixed;
 z-index: 1;
 top: 0;
 left: 0;
 background-color: #8AA6BF;
 overflow-x: hidden;
 /* padding-top: 20px; */
}

h3 {

  display: flex;
  justify-content: center;
}

.sidebar {

}

input{
  background-color: #F7F7F7;
}

.sidenav a {
 padding: 6px 8px 6px 16px;
 text-decoration: none;
 color: #818181;
}


.sidenav a:hover {
 color: #f1f1f1;
}

h1 {

 display: flex;
 justify-content: center;
 margin-left: 350px;
}

section {
  border: 10px;
  background-color: #F7FCFF;
  margin-left: 350px;
}
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

p {

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

@media screen and (max-height: 450px) {
 .sidenav {padding-top: 15px;}
 .sidenav a {font-size: 18px;}
}

body {

 display: flex;
 flex-wrap: wrap;
 flex-direction: column;
 background-color: #D0E2F2;
}

 .name {
  display: flex;
  justify-content: center;
}

 .toDo {
   display: flex;
   justify-content: center;
 }
